
{% extends 'entregar/main.html' %}
{% load static %}
{% block content %}
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Tem Certeza que deseja Remover "{{item}}"</p>

            <form action="{% url 'delete_order' item.id %}" method="POST">

                {% csrf_token %}
                <a class="btm btn-sm btn-Primary" href="{% url 'home' %}">Cancel</a>
               <button type="submit" class="btm btn-sm btn-danger">Sim</button>
            </form>
         </div>
    </div>
</div>

{% endblock %}