{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-rigth: 20px;
    }
     .profile-pi{
        max-width: 50px;
        max-height: 20px;
        margin: 0 auto;
    }

</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'products' %}"> MENU </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'account' %}"> Perfil <i class="fa fa-fw fa-user"></i> </a>
      </li>
      {% endif %}
    </ul>
  </div>

  <span class="hello-msg">Bem Vindo ,  {{request.user}} <a><i class="fa fa-fw fa-user"></i></a> </span>

<a class="btm btn-sm btn-danger" href="{% url 'logout' %}"> Sair </a>
</nav>